<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{- .Site.Title -}}</title>
    {{ $siteDescription := .Site.Params.description }}
    {{ if (index .Site.Data .Site.Language.Lang).site }}
      {{ $siteConfig := (index .Site.Data .Site.Language.Lang).site }}
      {{ if $siteConfig.description }}
        {{ $siteDescription = $siteConfig.description }}
      {{ end }}
    {{ end }}
    <meta name="description" content="{{ $siteDescription }}" />
    
    <!-- import common headers -->
    {{- partial "header.html" . -}}

    <!-- import index page specific headers -->


{{ $homeCss := resources.Get "css/sections/home.css" }}
{{ $aboutCss := resources.Get "css/sections/about.css" }}
{{ $skillsCss := resources.Get "css/sections/skills.css" }}
{{ $experiencesCss := resources.Get "css/sections/experiences.css" }}
{{ $educationCss := resources.Get "css/sections/education.css" }}
{{ $projectsCss := resources.Get "css/sections/projects.css" }}
{{ $recentPostsCss := resources.Get "css/sections/recent-posts.css" }}
{{ $achievementsCss := resources.Get "css/sections/achievements.css" }}
{{ $css := slice $homeCss $aboutCss $skillsCss $experiencesCss $educationCss $projectsCss $recentPostsCss $achievementsCss | resources.Concat "css/indexPage.css" }}
{{ $style := $css | resources.Minify }}

    <link rel="stylesheet" href="{{ $style.RelPermalink }}"/>


    <!-- Add Google Analytics if enabled in configuration -->
    {{ if site.GoogleAnalytics }}
        {{ template "_internal/google_analytics_async.html" . }}
    {{ end }}
  </head>
  <body data-spy="scroll" data-target="#top-navbar" data-offset="100">

    <!--- NAVBAR ------------------------->
    {{- partial "navigators/navbar.html" . -}}

    <!--- ADD HOME SECTION ---------------->
    {{- partial "sections/home.html" . -}}

    <!--- ADD OPTIONAL SECTIONS ----------->
    {{ $sections:= site.Data.sections }}
    {{ if (index site.Data site.Language.Lang).sections }}
      {{ $sections = (index site.Data site.Language.Lang).sections }}
    {{ end }}

    {{ if $sections }}
      {{ $background:= "bg-white"}}
      {{ range sort $sections "section.weight" }}
        {{ if .section.enable }}
          <div class="container-fluid section-holder d-flex {{ $background }}">
            {{ if .section.template }}
              {{- partial .section.template . -}}
            {{ else }}
              {{- partial (printf "sections/%s.html" (replace (lower .section.id) " " "-")) . -}}
            {{ end }}
          </div>
          <!--- alter background color for next section --->
          {{ if eq $background "bg-white" }}
            {{ $background = "bg-dimmed" }}
          {{ else }}
            {{ $background = "bg-white" }}
          {{end}}
        {{ end }}
      {{ end }}
    {{ end }}

    <!--- ADD FOOTER ----------------------->
    {{- partial "footer.html" . -}}

    <!--- ADD COMMON SCRIPTS --------------->
    {{ partial "scripts.html" . }}

    <!--- ADD INDEX PAGE SPECIFIC SCRIPTS -->
    {{ $itypeJs := resources.Get "js/itype.min.js" }}
    {{ $githubButtonJs := resources.Get "js/github-button.js" }}
    {{ $homeJs := resources.Get "js/home.js" }}
    {{ $filterizrJs := resources.Get "js/jquery.filterizr.min.js" }}
{{ $js := slice $itypeJs $githubButtonJs $homeJs $filterizrJs  | resources.Concat "js/indexPage.js" | minify}}
    <script src="{{ $js.RelPermalink }}"></script>

  </body>
</html>
